body{
    margin: 0px 50px;
    color: antiquewhite;
    background: black;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label{
    color: rgb(8, 158, 200);
    font-size: 18px;
    display: block;
    padding-bottom: 1rem;
}

#submit-btn{
    border-color: rgb(8, 158, 200);
    color: rgb(8, 158, 200);
    border-radius: 0.3rem;
}

input{
    background-color: white;
    border-radius:  0.3rem;
}

::placeholder{
    overflow: visible;
    color: rgb(198, 198, 198);
}

#output-box{
    color: rgb(244, 244, 244);
    padding-top: 1rem;
}